.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 10px;

  .form-header {
    margin: 10px 0;
    align-items: flex-start;

    .star {
      color: red;
      font-weight: bold;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
